/* 商品一覧ページのスタイル */

/* 商品グリッド */
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
  padding: 20px; 
  box-sizing: border-box; 
  max-width: 75%; 
  margin: 0 auto; /
}

.product-card {
  width: 100%; 
  max-width: 180px; 
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.container {
  max-width: 1200px; /* 必要なら適切な幅に調整 */
  margin: 0 auto; /* 中央寄せ */
  padding: 0 20px;
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* 商品名と価格 */
.product-card div {
  margin-top: 5px;
  font-size: 14px;
}

/* 検索バー */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar select, .search-bar input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 8px 15px;
  background-color: #001F8E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0034C2;
}

/* ページネーション */
.pagination {
  display: flex;  /* 横並びで表示 */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-height: 40px;  /* 最小高さを設定 */
}

.pagination a, .pagination span {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #001F8E;
}

.pagination .current {
  background-color: #001F8E;
  color: white;
  font-weight: bold;
}

.pagination a:hover {
  background-color: #0034C2;
  color: white;
}

.quantity-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.quantity-controller button {
  width: 30px;
  height: 30px;
  background-color: #001F8E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.quantity-controller button:hover {
  background-color: #0034C2;
}

.quantity-controller input {
  width: 50px; /* 2桁の数値が収まる幅 */
  height: 30px;
  text-align: center; /* 数値を中央揃え */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 5px; /* ボタンとの間隔 */
}

#total-price {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.settlement-bar{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}