{% extends 'base.html' %}
{% load static %}
{% block title %}商品確認{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/confirm.css' %}">
{% endblock %}

{% block content %}
        <h2>購入商品確認</h2>
        <table>
          <thead>
              <tr>
                  <th>商品名</th>
                  <th>数量</th>
                  <th>価格</th>
              </tr>
          </thead>
          <tbody>
            {% for item in selected_products %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price|floatformat:0 }}円</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
        <div>小計：{{Notaxtotal_price}}円</div>
        <div>消費税：{{tax}}円</div>
        <div id="total-amount" >合計： {{total_price}}円</div>
      </article>

      <form id="payment-form">
        <div id="card-container"></div>
        <button id="card-button">支払う</button>
      </form>
{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js
"></script>
<script>
  let card;
  document.addEventListener('DOMContentLoaded', async function () {
    // Square Web Payments SDKの初期化
    const payments = Square.payments("sandbox-sq0idb-I-uo9lQsYWtltYrCGQpuYg", "L0VHMSZC0YAWW");

    try {
      // カード要素を初期化
      card = await payments.card();
      await card.attach('#card-container'); // カード情報入力用のHTML要素にアタッチ
    } catch (e) {
      console.error('Payment initialization failed:', e);
      return;
    }

    // ボタンクリックでトークンを取得
    const cardButton = document.getElementById('card-button');
    cardButton.addEventListener('click', async (event) => {
      event.preventDefault();
      const totalAmountText = document.getElementById('total-amount').innerText; // "合計： 800円" のような文字列を取得
      const totalAmount = parseFloat(totalAmountText.match(/\d+/)[0]);
      try {
        const result = await card.tokenize();
        if (result.status === 'OK') {
          const nonce = result.token;

          // サーバーに送信
          const response = await fetch('/process_payment/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}', // DjangoのCSRFトークン
            },
            body: JSON.stringify({
              amount: totalAmount, // 合計金額
              nonce: nonce, // Squareトークン
            }),
          });

          const data = await response.json();
          if (data.status === 'success') {
            alert('支払いが成功しました！');
          } else {
            alert('エラーが発生しました: ' + data.message);
          }
        } else {
          console.error(result.errors);
          alert('支払いトークンの生成に失敗しました。詳細を確認してください。');
        }
      } catch (error) {
        console.error('Tokenization failed:', error);
        alert('トークン生成中にエラーが発生しました。');
      }
    });
  });
</script>